:root {
  --white-color: #ffffff;
  --green100-color: #ccd5ae;
  --green200-color: #e9edc9;
  --beige-color: #faedcd;
  --brown-color: #d4a373;
  --background-color: #fefae0;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #4e3333e1;
}
